# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [122]:
pip install wget

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wget in /usr/local/lib/python3.8/dist-packages (3.2)

In [123]:
import pandas as pd
import numpy as np
import wget
from glob import glob
import time
from zipfile import ZipFile

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [124]:
#Скачиваем zip
url = "https://github.com/hse-ds/iad-intro-ds/blob/master/2023/homeworks/Data.zip?raw=true"
zipFile = wget.download(url)

In [125]:
#распаковываем zip
with ZipFile(zipFile,'r') as zp:
  zp.extractall()

In [126]:
students = [i for i in glob('Data/Students_info_[0-9].csv')]
marks = [i for i in glob('Data/Students_marks_[0-9].csv')]
concant_Stud = pd.concat([pd.read_csv(s) for s in students], ignore_index=True)
concat_Mark = pd.concat([pd.read_csv(m) for m in marks], ignore_index=True)
df = pd.merge(concant_Stud,concat_Mark, on ='index', how ='left')
df = df.sort_values(by="index")
df = df.reset_index(drop=True)
df.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [127]:
df.drop(['index'],axis=1,inplace=True)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [128]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [129]:
df[['math score','reading score','writing score']].describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [130]:
print("Есть ли в таблице пропущенные значения:", "Да" if df.isna().any().any()  else "Нет")

Есть ли в таблице пропущенные значения: Нет

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [131]:
df[['math score','reading score','writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [132]:
subj = ['math score','reading score','writing score']
df.groupby('test preparation course')[subj].mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

Вывод: если посмотреть по среднему баллу, то те, кто готовились сдали лучше

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [133]:
str(df['lunch'].unique())

"['standard' 'free/reduced']"

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [134]:
df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"}, inplace=True)
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [135]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [136]:
passed = df[df['math score']>=passmark]['math score'].count()
passed_all_perc = passed/df['math score'].count()

passed_with_course = df[(df['math score']>= passmark) & (df['test preparation']=='completed')]['math score'].count()
stud_with_course = df[df['test preparation']=='completed']['math score'].count()
passed_with_course_perc = passed_with_course/stud_with_course

nonpassed_fem_without_course = df[(df['math score']< passmark) & (df['test preparation']=='none')& (df['gender']=='female')]['math score'].count()
fem_without_course = df[(df['test preparation']=='none')& (df['gender']=='female')]['math score'].count()
nonpassed_fem_without_course_perc = nonpassed_fem_without_course/fem_without_course

print('Доля студентов сдавших:',passed_all_perc)
print('Доля студентов сдавших и с курсом:',passed_with_course_perc)
print('Доля женщин без курса и несдавших:',nonpassed_fem_without_course_perc)

Доля студентов сдавших: 0.865
Доля студентов сдавших и с курсом: 0.9217877094972067
Доля женщин без курса и несдавших: 0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [137]:
start = time.time()
race_mean_reading = df.groupby('race/ethnicity')['reading score'].mean()
time_spent = time.time() - start
print(race_mean_reading)
print()
print(f'Time spent: {time_spent:.5f} s')

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

Time spent: 0.00131 s

In [138]:
start = time.time()
edu_min_writing = df.groupby('education')['writing score'].min()
time_spent = time.time() - start
print(edu_min_writing)
print()
print(f'Time spent: {time_spent:.5f} s')

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

Time spent: 0.00162 s

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [139]:
start = time.time()
sum_of_score_by_group = [0, 0, 0, 0, 0]
count = [0, 0, 0, 0, 0]
for index, obj in df.iterrows():
    if obj['race/ethnicity'] == 'group A':
        sum_of_score_by_group[0] += obj['reading score']
        count[0] += 1
        
    elif obj['race/ethnicity'] == 'group B':
        sum_of_score_by_group[1] += obj['reading score']
        count[1] += 1
    
    elif obj['race/ethnicity'] == 'group C':
        sum_of_score_by_group[2] += obj['reading score']
        count[2] += 1
        
    elif obj['race/ethnicity'] == 'group D':
        sum_of_score_by_group[3] += obj['reading score']
        count[3] += 1
    
    elif obj['race/ethnicity'] == 'group E':
        sum_of_score_by_group[4] += obj['reading score']
        count[4] += 1
time_spent = time.time() - start
print(f'group A: {sum_of_score_by_group[0] / count[0]:.6f}')
print(f'group B: {sum_of_score_by_group[1] / count[1]:.6f}')
print(f'group C: {sum_of_score_by_group[2] / count[2]:.6f}')
print(f'group D: {sum_of_score_by_group[3] / count[3]:.6f}')
print(f'group E: {sum_of_score_by_group[4] / count[4]:.6f}')
print()
print(f'Time spent: {time_spent:.5f} s')

group A: 64.674157
group B: 67.352632
group C: 69.103448
group D: 70.030534
group E: 73.028571

Time spent: 0.05934 s

In [140]:
start = time.time()
minimums_by_edu = [None, None, None, None, None, None]
for index, obj in df.iterrows():
    if obj['education'] == "associate's degree":
        if minimums_by_edu[0] == None or minimums_by_edu[0] > obj['writing score']:
            minimums_by_edu[0] = obj['writing score']
        
    elif obj['education'] == "bachelor's degree":
        if minimums_by_edu[1] == None or minimums_by_edu[1] > obj['writing score']:
            minimums_by_edu[1] = obj['writing score']
    
    elif obj['education'] == "high school":
        if minimums_by_edu[2] == None or minimums_by_edu[2] > obj['writing score']:
            minimums_by_edu[2] = obj['writing score']
        
    elif obj['education'] == "master's degree":
        if minimums_by_edu[3] == None or minimums_by_edu[3] > obj['writing score']:
            minimums_by_edu[3] = obj['writing score']
    
    elif obj['education'] == "some college":
        if minimums_by_edu[4] == None or minimums_by_edu[4] > obj['writing score']:
            minimums_by_edu[4] = obj['writing score']
    
    elif obj['education'] == "some high school":
        if minimums_by_edu[5] == None or minimums_by_edu[5] > obj['writing score']:
            minimums_by_edu[5] = obj['writing score']
time_spent = time.time() - start
print(f"associate's degree: {minimums_by_edu[0]}")
print(f"bachelor's degree: {minimums_by_edu[1]}")
print(f"high school: {minimums_by_edu[2]}")
print(f"master's degree: {minimums_by_edu[3]}")
print(f"some college: {minimums_by_edu[4]}")
print(f"some high school: {minimums_by_edu[5]}")
print()
print(f'Time spent: {time_spent:.5f} s')

associate's degree: 35
bachelor's degree: 38
high school: 15
master's degree: 46
some college: 19
some high school: 10

Time spent: 0.05805 s

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [141]:
df_pivot = pd.pivot_table(df,index=['gender','education'], values=subj)
df_pivot

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [142]:
df['Math_PassStatus'] = df['math score'].apply(lambda c: 'F' if c<passmark else 'P')
print('Math exam results: ')
print(df['Math_PassStatus'].value_counts())

Math exam results:
P    865
F    135
Name: Math_PassStatus, dtype: int64

In [143]:
df['Reading_PassStatus'] = df['reading score'].apply(lambda c: 'F' if c<passmark else 'P')
print('Reading exam results: ')
print(df['Reading_PassStatus'].value_counts())

Reading exam results:
P    910
F     90
Name: Reading_PassStatus, dtype: int64

In [144]:
df['Writing_PassStatus'] = df['writing score'].apply(lambda c: 'F' if c<passmark else 'P')
print('Writing exam results: ')
print(df['Writing_PassStatus'].value_counts())

Writing exam results:
P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [145]:
condition = (df['Math_PassStatus']=='P') & (df['Reading_PassStatus']=='P') & (df['Writing_PassStatus']=='P')
df['OverAll_PassStatus'] = condition.apply(lambda x: 'P' if x==True else 'F')
print('All exams passed status: ')
print(df['OverAll_PassStatus'].value_counts())

All exams passed status:
P    812
F    188
Name: OverAll_PassStatus, dtype: int64

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [146]:
def GetGrade(average_mark):
    if average_mark>=90:
      return 'A'
    elif 90>average_mark>=80:
      return 'B'
    elif 80>average_mark>=70:
      return 'C'
    elif 70>average_mark>=60:
      return 'D'
    elif 60>average_mark>=50:
      return 'E'
    elif 50>average_mark:
      return 'F'

df['Grade'] = ((df['math score']+df['reading score']+df['writing score'])/3).apply(GetGrade)
print('Count of every grade')
df['Grade'].value_counts()

Count of every grade

C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64